<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>DUMPFILE</name>
          <description></description>
          <defaultValue>/var/cache/drupal/backup_migrate/manual/DrupallosPizzaKitchen-2011-10-10T00-31-14.mysql</defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector"/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>mysql -u root -e &quot;create database IF NOT EXISTS dpk collate=&apos;utf8_general_ci&apos;;&quot;;
mysql -u root dpk &lt; $DUMPFILE
if [ -f /var/www/sites/default/settings.php ]
then
     touch /var/www/sites/default/settings.php
else
     cp /var/www/sites/default/settings.server.php /var/www/sites/default/settings.php
fi
cd /var/www
/bin/chmod -R 777 sites/default
/bin/chmod 555 sites/default/settings.php
drush vset -y file_temporary_path /tmp
drush vset -y file_private_path /var/cache/drupal
drush cc --nocolor all </command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>